.otherHolder {
  padding: 10px 0;
}
.inbounds,
.SalesHolder {
  border: none;
}

.Title {
  color: #3c92dc;
  font-weight: bold;
  margin-right: 5px;
}
.headers {
  width: 100%;
  font-size: 1rem;
  text-align: left;
}

.col,
.colQty {
  margin: 10px;
}

.colQty {
  text-align: left;
}

.customTable {
}

.bounds {
  font-size: 1rem;
}
@media screen and (max-width: 650px) {
  .bounds {
    font-size: 0.8rem;
  }
}

/*TODO figure out how to style the headers*/
[data-column-id="others"].rdt_TableCol,
[data-column-id="sales"].rdt_TableCol {
  background-color: rgba(74, 49, 213, 0.489);
  border-radius: 0.8rem 0 0 0;
  color: rgb(78, 78, 78);
  font-size: 0.8rem;
}
